.btn {
  display: inline-block;

  padding: 0.875rem 1.25rem;

  background: transparent;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;

  font-size: 0.975em;
  font-weight: 600;

  text-transform: uppercase;
  transition: background .3s ease, border .3s ease;

  cursor: pointer;
}

.btn-primary {
  background: var(--awale-background);
  color: white;

  &:hover {
    background: transparent;
    border: 2px solid var(--awale-background);
    color: var(--awale-background);
  }
}