.header {
  position: relative;
  height: 60px;
  line-height: 60px;

  &__title {
    position: relative;
    margin-left: 2rem;
    font-weight: 800;
    font-size: 1.25rem;

    &:before {
      position: absolute;
      content: '';
      height: 2px;
      width: 100%;
      bottom: -3px;
      left: 0;
      background: var(--awale-background);
      transform: scale(0);
      transition: transform .3s ease;
    }

    &:hover {
      &:before {
        transform: scale(1);
      }
    }
  }
}