@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

*, *:after, *:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {text-decoration: none; color: inherit;}

body {
  background: var(--background);
  color: var(--color);

  min-height: 100vh;

  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.container {
  margin: 0 auto;
  width: calc(100% - 3rem);
  max-width: 880px;
}

.ctas {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.turn {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  #nbTurn {
    font-weight: normal;
  }
}

