:root {
  --background: #fffffe;
  --color: #271c19;

  --awale-background: #55423d;
  --circle-background: #644e48;
  --circle-color: #fff3ec;

  --awale-background-disable: #72757e;
  --circle-background-disable: #8c8f97;
  --circle-color-disable: #cfd0d4;
}