.awale {
  display: grid;
  grid-template-columns: 2fr;
  grid-gap: 13px;
  place-content: center;
  align-items: center;
  margin-top: 22px;

  &__north, &__south {
    padding: 2rem;
    background: var(--awale-background);

    border-radius: 32px;
    box-shadow: inset 20px 12px 6px rgba(115, 89, 82, 0.5), 0 12px 20px rgba(0, 0, 0, 0.2);

    span {
      display: inline-block;
      color: var(--background);
      font-weight: 600;
      margin-bottom: 12px;
    }

    &.disable {
      box-shadow: inset 20px 12px 6px rgba(140, 143, 151, 0.5), 0 12px 20px rgba(0, 0, 0, 0.2);
      background: var(--awale-background-disable);

      span {
        color: #020826;
      }
    }

    .player__south, .player__north {
      &.disable {
        .hole {
          background: var(--circle-background-disable);
          color: var(--circle-color-disable);

          box-shadow: inset 20px 12px 6px rgba(114, 117, 126, 0.5), 0 12px 20px rgba(0, 0, 0, 0.1);

          cursor: no-drop;
        }
      }
    }
  }
}

.hole {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 110px;
  width: 110px;

  background: var(--circle-background);
  color: var(--circle-color);

  border-radius: 50%;

  font-size: 3rem;
  font-weight: 600;

  transition: background .3s ease, box-shadow .3s ease;

  box-shadow: inset 20px 12px 6px rgba(115, 89, 82, 0.5), 0 12px 20px rgba(0, 0, 0, 0.1);

  &:hover {
    background: #735952;
    box-shadow: inset 20px 12px 6px rgba(100, 78, 72, 0.7), 0 12px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
}

.player__north {
  .hole {
    &:nth-child(6) {
      grid-column: 1;
    }
    &:nth-child(5) {
      grid-column: 2;
    }
    &:nth-child(4) {
      grid-column: 3;
    }
    &:nth-child(3) {
      grid-column: 4;
    }
    &:nth-child(2) {
      grid-column: 5;
    }
    &:nth-child(1) {
      grid-column: 6;
    }
  }
}

.hole__container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-flow: dense;
  place-items: center;

  * > {
    padding-left: 15px;
  }
}